body {
    background-color: lightblue;
}

h2 {
    font-family: sans;
    margin: 0em;
    padding: 0em;
}

form {
    display: inline-block;
}

button {
    background-color: #159;
    margin: 8px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    font-famimly: sans;
    border: none;
    border-width: 4px;

    border-color: white darkgrey darkgrey white;
    border-radius: 4px;
    border-style: solid;

    width: 7em;
    height: 3em;
}


button.button {
    background-color: #159;
    margin: 8px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    font-famimly: sans;
    border: none;
    border-width: 4px;

    border-color: white darkgrey darkgrey white;
    border-radius: 4px;
    border-style: solid;

    width: 3em;
    height: 3em;
    display: inline-block;
}

button:hover {
    color: blue;
    border-radius: 4px;
    border-style: solid;
}

button:active {
    border-color: darkgrey white white darkgrey;
    border-radius: 4px;
    border-style: solid;
}

section {
    float: left;
    padding: 8px 32px 16px 32px;

    border-width: 1px;
    border-color: lightgrey;
    border-radius: 16px;
    border-style: solid;

    background: white;

    float: inline-block;
    margin: 32px;
}

/* EOF */
